.adm-container .divadm {
  background-color: #1976d2;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.adm-container .cardadm {
  background-color: #f0f0f0;
  width: 70rem;
  height: 30rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centraliza o texto */
}
.adm-container .box a {
  width: 45rem; /* Faz os botões ocuparem toda a largura disponível */
  display: flex;
  height: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

@media (max-width: 712px) {
  .adm-container .divadm {
    justify-content: center; /* Garante que todo o conteúdo está centralizado */
    align-items: center;
  }

  .adm-container .cardadm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo dentro do card */
    width: 40rem;
    height: 40rem;
    padding: 1rem;
    text-align: center; /* Centraliza o texto */
  }

  .adm-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza os botões */
    margin-top: 2rem;
    gap: 1rem;
  }

  .adm-container .box a {
    width: 45rem; /* Faz os botões ocuparem toda a largura disponível */
    display: flex;
    height: 5rem;
    justify-content: center;
  }

  .adm-container button {
    width: 90%; /* Reduz a largura do botão em tablets */
  }
  .adm-container .box a button {
    font-size: 1.2rem; /* Aumenta o tamanho do texto */
    font-weight: bold; /* Deixa o texto em negrito (opcional) */
    height: 4rem;
  }
}

@media (max-width: 415px) {
  .adm-container .divadm {
    height: 110vh;
  }

  .adm-container .cardadm {
    width: 90%; /* Corrigido para ocupar 90% da largura */
    height: auto; /* Ajusta dinamicamente à altura do conteúdo */
    padding: 1rem;
    gap: 1rem;
  }

  .adm-container .box {
    flex-direction: column;
    align-items: center;
  }

  .adm-container .box a {
    width: 100% !important; /* Garante que o botão ocupa toda a largura */
    display: flex;
    justify-content: center;
    height: 3.5rem;
  }

  .adm-container .box a button {
    font-size: 1rem !important;
    font-weight: bold;
  }
}
