.div {
  background-color: #1976d2;
}

.typography1 {
  color: #fff;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.detalhes_do_pedido {
  text-align: center !important;
  color: #000000;
  margin: 1rem !important;
}

.Card {
  background-color: #fff !important;
  display: flex;
  flex-direction: column;
}

.typography2 {
  color: gray;
  margin: 0.5rem !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
  font-family: inherit !important;
}

.typography3 {
  margin: 0.5rem !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}
